<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabela sa predmetima</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@1,300&family=Bebas+Neue&family=Roboto+Slab:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="tabela-sa-ocenama">
      <header>
        <h1>Tabela sa predmetima.</h1>
      </header>
      <table>
        <thead>
          <tr>
            <th>Predmet</th>
            <th>Br. bodova</th>
            <th>Ocena</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="predmet in predmeti" @click="obrisiPredmet(predmet)" class="predmet">
            <td>{{ predmet.nazivPredmeta }}</td>
            <td>{{ predmet.bodovi }}</td>
            <td>{{ predmet.ocena }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="predmet">Prosek</td>
            <td>
              {{ prosekBodova }}
            </td>
            <td>
              {{ prosekOcena }}
            </td>
          </tr>
        </tfoot>
      </table>
      <form class="forma" @submit.prevent="dodajPredmet()"> 
      <label for="predmet">Unesi novi predmet:</label>
      <input type="text" v-model="nazivPredmeta">
      <label for="bodovi">Unesi bodove:<label>
      <input type="number" v-model="bodovi">
      <label for="ocena">Unesi ocenu:</label>
      <input type="number" v-model="ocena">
      <button type="submit">Dodaj</button>
      </form>
      <button @click="racunajProsek()" type="button">Racunaj prosek</button>
    </section>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
